{% from 'bootstrap5/nav.html' import render_nav_item %}
{% from 'bootstrap5/utils.html' import render_messages %}

<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block TITLE %}Helferbär{% endblock %}</title>

  {{ bootstrap.load_css() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Donegal+One|Palanquin">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style_test.css') }}">

  {% block styles %}{% endblock %}
</head>
    <body>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('index') }}">
                    <img src="{{ url_for('static', filename='images/helferbaer_logo.png') }}" 
                    alt="Logo" width="40" height="32" class="d-inline-block align-text-top">Helferbär
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarMain" aria-controls="navbarMain"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarMain">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {{ render_nav_item('index', 'Home') }}
                    </ul>
                    <ul class="navbar-nav">
                        {{ render_nav_item('helfer_anmelden', 'Helfer') }}
                        {{ render_nav_item('kunde_anmelden', 'Kunde') }}
                    </ul>
                </div>
            </div>
        </nav>

        <main>
            {{ render_messages(dismissible=True, dismiss_animate=True) }}
            {% block CONTENT %}{% endblock %}
        </main>

        {{ bootstrap.load_js() }}
        {% block scripts %}{% endblock %}
    </body>
</html>