{% extends 'base.html' %}
{% block TITLE %}Helferbär | Helfer Dashboard{% endblock %}

{% block CONTENT %}
<div class="container-fluid mt-4">
    <div class="row">

        <!-- PROFIL -->
        <div class="col-lg-4">
            <div class="card shadow mb-3">
                <div class="card-header bg-primary text-white">
                    <h6>Mein Profil</h6>
                </div>
                <div class="card-body">

                    <h2>Willkommen {{ current_user.firstName }}</h2>
                    <p>Rolle: {{ current_user.role }}</p>

                    <p><strong>Name:</strong> {{ current_user.firstName }} {{ current_user.name }}</p>
                    <p><strong>E-Mail:</strong> {{ current_user.email }}</p>
                    <p><strong>Telefon:</strong> {{ current_user.phone or '–' }}</p>
                </div>
            </div>
        </div>

        <!-- STUNDENKONTO -->
        <div class="col-lg-4">
            <div class="card shadow mb-3">
                <div class="card-header bg-success text-white">
                    <h6>Stundenkonto</h6>
                </div>
                <div class="card-body text-center">
                    <h2 class="fw-bold">{{total_hours}}</h2>
                    <span class="badge bg-success">Diesen Monat</span>
                </div>
            </div>
        </div>

        <!-- JOBÜBERSICHT -->
        <div class="col-lg-4">
            <div class="card shadow mb-3">
                <div class="card-header bg-info text-white">
                    <h6>Anstehende Jobs</h6>
                </div>
                <div class="card-body">
                    <h3>Meine Jobs</h3>
                    {% for job in jobs %}
                        <div class="card mb-2">
                            <div class="card-body py-2">
                                {{ job.description }} am {{ job.date }}
                            </div>
                        </div>
                    {% else %}
                    <div class="card mb-2">
                        <div class="card-body py-2">
                            Keine Jobs vorhanden
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}