{% extends "base.html" %}
{% block TITLE %}Helferbär Startseite{% endblock %}

{% block CONTENT %}
<section class="hero">
  <div class="container-fluid hero-container">
    <div class="row align-items-center gx-5 gy-4">
      <div class="col-lg-6 hero-text">
        <h1>🧸 Helferbär</h1>
        <p>Finde schnell Hilfe im Alltag oder werde Helfer – einfach & lokal.</p>
        <div class="mb-4">
          <form method="post" class="d-inline">
            <button name="helfer" value="login" class="btn btn-light btn-lg me-4 hero-btn-primary">
              👨‍🔧 Als Helfer anmelden
            </button>
            <button name="helfer" value="register" class="btn btn-outline-light btn-lg hero-btn-secondary">
              👨‍🔧 Registrieren
            </button>
          </form>
        </div>

        <form method="post">
          <button name="kunde" value="login" class="btn btn-light btn-lg me-4 hero-btn-primary">
            👵 Hilfe benötigt
          </button>
          <button name="kunde" value="register" class="btn btn-outline-light btn-lg hero-btn-secondary">
            👵 Registrieren
          </button>
        </form>
      </div>

      <div class="col-lg-6 text-center">
        <img src="{{ url_for('static', filename='images/helferbaer_logo.png') }}"
             alt="Helferbär Logo"
             class="img-fluid hero-logo">
      </div>

    </div>
  </div>
</section>
{% endblock %}