<!doctype html>
<html lang="de">
  <head>
    <title>Helferbär</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Donegal+One|Palanquin">
    <link rel="stylesheet" href="../static/css/style_test.css">
  </head>
  <body>
    <header>
        <h1>Helferbär</h1>
    </header>

    <main class="content">
      <h1>Willkommen bei Helferbär!</h1>
        <p>Ich bin Alltagshelfer.</p>
            <button>Anmelden</button>
            <button>Registrieren</button>
      <p>Ich brauche Hilfe im Alltag.</p>
            <button>Anmelden</button>
            <button>Registrieren</button>
    </main>
  </body>
</html>